<div class="page">
  <h1 class="title m-1">Настройки аккаунта</h1>
  <div class="card mb-3 account-page" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img ng-src="{{ user.avatarLink }}" class="m-1 card-img xl-avatar" alt="Фото пользователя" />
        <div class="row">
          <input id="avatarFile" type="file" class="hide" ng-bind="fileName">
          <p>{{ fileName }}</p>
          <button class="btn btn-light m-3" ng-click="setAvatar()">Загрузить фото</button>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">
            <form name="saveForm">
              Имя:
              <input class="form-control" type="text" ng-model="firstName" />
              Фамилия:
              <input class="form-control" type="text" ng-model="lastName" />
              Email:
              <input name="email" class="form-control" type="email" ng-model="user.email" />
              <div class="error" ng-if="saveForm.email.$invalid">
                  Не верный email!
              </div>
              Номер телефона:
              <input name="phoneNumber" class="form-control" type="tel" ng-model="user.tellNumber" />
              Пароль:
              <input class="form-control" type="password" ng-model="user.password" />
              <span ng-if=" currentUser.type == userType.client">
                <input class="form-check-input" type="checkbox" ng-model="user.mailSending" id="defaultCheck1"/>
                <label class="form-check-label" for="defaultCheck1">
                  Рассылка писем
                </label>
              </span>
              <button 
                ng-if="saveForm.email.$valid && saveForm.phoneNumber.$valid" 
                class="btn btn-primary m-2 align-self-center" 
                ng-click="save()" 
                ng-show="user.password && firstName && lastName && user.tellNumber && user.email">
                Сохранить новые данные
              </button>
            </form>
          </p>
        </div>
      </div>
    </div>
    <div id="suc-alert" class="alert alert-success m-5 row" role="alert">
      Успешно обновлено!
    </div>
  </div>
</div>
