<div class="page">
  <h1 class="title m-1">Курсы!</h1>
  <h2 ng-if="courses.length == 0">{{ empty }}</h2>
  <ul class="container">
    <div class="row justify-content-around">
      <li class="course card" style="width: 21rem;" ng-repeat="i in courses">
        <div>
          <h2 class="card-header">{{ i.courseName }}</h2>
          <div class="card-body">
            <h6 class="card-title">
              {{ i.countOfPlace }} доступных мест, всего за {{ i.price }} грн.
            </h6>
            <div class="card-text">
              <span>{{ i.courseDescription }}</span>
              <p>длительность курса {{ i.duration }} занятий</p>
              <p>стиль: {{ i.styleName }}</p>
              <div class="row">
              <a href="javascript:void(0)" class="btn btn-primary mr-3">Мне интересно!</a>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Преподаватель
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <p class="dropdown-elem row">
                    <img class="l-avatar" ng-src="{{i.avatarLink}}" />
                    <span class="l-title">{{ i.trainerName }}</span></p>
                  <p class="dropdown-elem">{{ i.email }} / {{ i.tellNumber }}</p>
                  <p class="dropdown-elem">О себе: {{ i.trainerDescription }}</p>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </div>
  </ul>
</div>
