<div class="page">
  <div class="container">
    <h1 class="title"></h1>
    <div id="make-order" class="constainer m-2">
      <span class="container">
        В Демо версии отсутствует возможность реальной оплаты занятий. Поэтому
        просто нажмите Записаться
      </span>
    </div>
    <div id="delete-order" class="constainer m-2">
      <p>* Деньги за оставшиеся занятия будут возвращены в течении 2-х дней</p>
    </div>
    <button
      class="m-5 btn btn-primary"
      id="orderBtn"
      ng-click="order()"
    ></button>
    <p class="center">{{ msg }}</p>
  </div>
</div>
