<div class="container">
  <form name="reg">
    <label>
      Имя:
      <input type="text" name="userFirstName" ng-model="user.firstName" />
    </label>
    <label>
      Фамилия:
      <input type="text" name="userLastName" ng-model="user.lastName" />
    </label>
    <label>
      Телефон:
      <input type="tel" name="phoneNumber" ng-model="user.tellNumber" />
      <div class="error" ng-if="reg.phoneNumber.$invalid">
        Не верный номер!
      </div>
    </label>
    <label>
      Email:
      <input type="email" name="email" ng-model="user.email" />
    </label>
    <div class="error" ng-if="reg.email.$invalid">
      Не верный email!
    </div>
    <label>
      Пароль:
      <input type="password" name="password" ng-model="user.password" />
    </label>
    <label>
      Я согласен получать рассылку новостей и уведомлений
      <input type="checkbox" name="mail" ng-model="user.mailSending" />
    </label>
    <button ng-click="registration()">Регистрация</button>
  </form>
</div>
